<div class="name"><br>
    <span><img src="/assets/Images/USDT.png" alt="btc" style="width: 15%; height: 12%; margin-top: -7%;"></span><span
        style="font-size: xxx-large;"> Tether </span>
    <span style="font-size: large;">USDT </span><span><img src="/assets/Images/USDT.png" alt="btc"
            style="width: 15%; height: 12%; margin-top: -7%;"></span>
</div>
<div class="wrapped-div-trguj">
    <div class="tab-header">
        <h2 routerLink="buy-usdt" routerLinkActive='active'>Buy</h2>
        <h2 routerLink="sell-usdt" routerLinkActive='active'>Sell</h2>
        <router-outlet></router-outlet>
    </div>
</div>