<form #form="ngForm" (submit)="onSubmitE(form)" novalidate>
    <input type="hidden" name="id" value="service.formData.id" />
    <div class="form-group">
        <label>
            <h3 style="color: black;">Količina</h3>
        </label>
        <input type="text" class="form-control form-control-lg" pattern="[0-9]*"
            placeholder="Upišite koliko želite kupiti" name="amount" #amount="ngModel"
            [(ngModel)]="service.formDataEk.amount" [class.invalid]="amount.invalid && amount.touched" required>
        <span class="help-block" *ngIf="amount.errors?.pattern">*Samo brojevi dozvoljeni!<br></span>
        <span class="help-block" *ngIf="amount.invalid && amount.touched">*Upišite količinu koju ćelite kupiti!</span>
    </div><br>
    <div class="form-group">
        <label>
            <h3 style="color: black;">Odaberi valutu</h3>
        </label>
        <select type="text" class="form-control form-control-lg" name="total" [class.invalid]="total.invalid && total.touched" required
        #total="ngModel" [(ngModel)]="service.formDataBk.total">
            <option class="BAM" value="{{(coinPrice*1.02*1.75*service.formDataBk.amount).toFixed(2) || 0}} KM"><b>BAM</b></option>
            <option class="EUR" value="{{(coinPrice*1.02*0.9*service.formDataBk.amount).toFixed(2) || 0}} €"><b>EUR</b></option>
            <option class="USD" value="{{(coinPrice*1.02*service.formDataBk.amount).toFixed(2) || 0}} $"><b>USD</b></option>
        </select>
        <span class="help-block" *ngIf="total.invalid && total.touched">*Morate odabrati valutu sa kojom mislite trgovati!</span>
    </div><br>
    <label>
        <h3 style="color: black;">Konačna cijena</h3>
    </label>
    <p class="form-control form-control-lg" style="text-align: left;" disabled>{{service.formDataBk.total}}</p>
    <div class="form-group">
        <label>
            <h3 style="color: black;">Crypto Adresa</h3>
        </label>
        <input type="text" class="form-control form-control-lg" placeholder="Vaša kripto adresa" name="cryptoAdress"
            [class.invalid]="cryptoAdress.invalid && cryptoAdress.touched" #cryptoAdress="ngModel"
            [(ngModel)]="service.formDataEk.cryptoAdress" required>
        <span class="help-block" *ngIf="amount.invalid && amount.touched">*Upišite svoju Crypto adresu!</span>
    </div><br>
    <div class="form-group">
        <label>
            <h3 style="color: black;">Želite li koristiti ovu karticu?</h3>
        </label>
        <p class="form-control form-control-lg"><u>{{cardDetails.cardNumber}}</u></p><a routerLink="/one-user/one1-card"
            class="change-card">Zamjeni karticu</a><br>
            <a (click)="resetForm(form)" class="change-card">Resetiraj unešene podatke</a>
    </div><br>
    <div class="form-group">
        <button class="btn btn-secondary btn-lg btn-block" type="submit" [disabled]="form.invalid">CONFIRM</button>
    </div>
    <br>
</form>